@import url('../../fonts/fonts.css');

.projects-page {
    width: 97.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0;
}

.projects-content {
    width: 1200px;
    height: 800px;
}

.tv-frame {
    height: 800px;
    width: 1200px;
    position: absolute;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}

.projects-project {
    position: relative;
    width: 1138px;
    height: 611px;
    margin-top: 1.05rem;
    margin-left: 1.7rem;
}

.ntl-iframe {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
    border: 1px solid #000;
}

.projects-project-btns {
    margin: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.info-btn, .github-btn, .next-ch-btn, .prev-ch-btn {
    border: none;
    background-color: #181c23;
    color: #fff; 
    margin-left: 1rem;
    padding-top: 5px;
    box-shadow: 0px 0px 5px 2px #000;
    cursor: pointer;
}

.info-btn {
    margin-top: 0.2rem;
}

.info-btn:active, .github-btn:active, .next-ch-btn:active, .prev-ch-btn:active {
    box-shadow: none;
}

/* info popup styles */
.info-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure this is above the iframe */
    top: 0.3%;
    left: 0.1%;
}

.info-content {
    width: 380px;
    height: 302px;
    margin: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: #00ff0d;
    background-color: #000;
    font-family: "Belanosima", sans-serif;
}

.info-content-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin: 0.5rem 0;
}

.info-content-name-p {
    font-family: 'ModeSeven', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 0.2rem;
}

.info-content-info {
    margin: 0;
    font-family: 'ModeSeven', sans-serif;
    line-height: 25px;
    font-size: 1rem;
    letter-spacing: 0px;
}

.braces {
    font-size: 2rem;
    align-self: flex-start;
}

/* tv styles */
.transition {
    animation: tvStatic 0.3s linear;
}

@keyframes tvStatic {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        background: repeating-linear-gradient(0deg, #fff, #fff 1px, #000 2px, #000 2px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes boxShadowMoveIpad {
    0% {
        box-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #D4AF37, 0 0 40px #FF0000, 0 0 50px #008000;
    }
    25% {
        box-shadow: 0 0 10px #FF0000, 0 0 20px #008000, 0 0 30px #FFFFFF, 0 0 40px #D4AF37, 0 0 50px #FFFFFF;
    }
    50% {
        box-shadow: 0 0 10px #008000, 0 0 20px #FFFFFF, 0 0 30px #D4AF37, 0 0 40px #FF0000, 0 0 50px #FFFFFF;
    }
    75% {
        box-shadow: 0 0 10px #D4AF37, 0 0 20px #FF0000, 0 0 30px #008000, 0 0 40px #FFFFFF, 0 0 50px #D4AF37;
    }
    100% {
        box-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #D4AF37, 0 0 40px #FF0000, 0 0 50px #008000;
    }
}


.channel-name-overlay {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: #000000d2;
    color: #00ff0d;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'ModeSeven', sans-serif;
    font-size: 1.5rem;
    z-index: 3;
    
}


@media screen and (max-width: 1170px) {
    .projects-content {
        width: 950px;
    }

    .tv-frame {
        width: 950px;
    }

    .projects-project {
        width: 894px;
    }
}


@media screen and (max-width: 940px) {
    .projects-content {
        width: 750px;
        height: 600px;
    }

    .tv-frame {
        width: 750px;
        height: 600px;
    }

    .projects-project {
        width: 700px;
        height: 448px;
    }
}

@media screen and (max-width: 750px) {
    .projects-page {
        margin: 0;
        width: 100%;
    }

    .projects-content {
        width: 100%;
        height: fit-content;
    }

    .projects-project {
        height: 800px;
        width: auto;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
    }

    .tv-frame {
        display: none;
    }

    .ntl-iframe {
        width: 90%;
        animation: boxShadowMoveIpad 4s infinite linear;
        border: none;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 4px solid #000;
        z-index: 100;
    }


    .projects-project-btns {
       flex-direction: column;
       align-items: center;
       margin: 0;

    }

    .info-btn {
        width: fit-content;
        padding: 10px 15px;
        padding-top: 12px;
        margin-bottom: 1rem;
        margin-top: 0.6rem;
        background-color: #00000073;
        border: 1px solid #000;
        border-radius: 10%;
        position: relative;
        z-index: 1000;
    }

    .channel-navi-btns {
        position: absolute;
        width: 87%;
        margin-left: -0rem;
        padding: 0.4rem 0.5rem;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff70;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 4px solid #000;
        border-top: 1px solid #000;
    }

    .prev-ch-btn {
        padding: 10px 15px;
        padding-top: 12px;
        background-color: #00000073;
        border: 1px solid  #000;
        border-radius: 10%;
        margin: 0;
        margin-top: 0.2rem;
        
    }

    .next-ch-btn {
        padding: 10px 15px;
        padding-top: 12px;
        background-color: #00000073;
        border: 1px solid  #000;
        border-radius: 10%;
        margin: 0;
        margin-top: 0.2rem;
    }
}


@media screen and (max-width: 500px) {
    .projects-project {
        height: 600px;
    }

    .channel-navi-btns {
        width: 85.5%;
    }

    .projects-project-btns {
        margin-bottom: 3rem;
    }
}