.projects-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.projects-content {
    width: 900px;
    height: 600px;
}

.tv-frame {
    height: 600px;
    width: 900px;
    position: absolute;
}

.projects-project {
    width: 848px;
    height: 451px;
    margin-top: 1.05rem;
    margin-left: 1.7rem;
}

.ntl-ifraem {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
    border: 1px solid #000;
}

.projects-project-btns {
    margin: 1rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 10;
}

.info-btn, .github-btn, .next-ch-btn, .prev-ch-btn {
    border: 1px solid #000;
    background-color: #383838;
    color: #fff; 
    margin-left: 1rem;
    padding-top: 5px;
    box-shadow: 0px 2px 2px 2px #000;
}