.intro-page {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  height: 250vh;
}

.intro-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  width: 100%;
  height: 100vh;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-out;
}

.intro-content.visible {
  opacity: 1; /* Visible when in view */
}

.intro-content.hidden {
  opacity: 0;
}

.me {
  width: 250px;
  border-radius: 5px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.me.visible {
  transform: translateY(0);
  opacity: 1;
}

.intro-info {
  margin-top: 1rem;
  text-align: center;
  width: fit-content;
}

.intro-info.visible {
  opacity: 1;
}

.intro-info h3 {
  margin: 0;
  transform: translateX(100%);
  opacity: 0;
  font-size: 2rem;
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.intro-info h3.visible {
  transform: translateX(0);
}

.prof {
  width: fit-content;
  margin: 1.5rem auto;
  padding: 10px 20px;
  font-size: 2.5rem;
  border: 2px solid transparent;
  background: #FFC0CB;
  background: linear-gradient(to right, #FFC0CB 40%, #00FFFF 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: boxShadowMove 6s linear infinite, borderColor 3s linear infinite;
  border-width: 5px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #ff6ec4, #7873f5, #4adeff, #21bdbf, #ff6ec4, #7873f5);
  opacity: 0 !important;
  transition: opacity 2s ease-out !important; /* Added opacity transition */
}

.prof.visible {
  opacity: 1 !important;
}

.intro-info h3, .intro-info h2, .intro-info p {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.intro-info h3.visible , .intro-info h2.visible , .intro-info p.visible {
  opacity: 1;
}

.intro-info p {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  font-family: "Belanosima", sans-serif;
  font-size: 1.4rem;
  text-align: start;
  transform: translateY(100%);
}

.intro-info p {
  transform: translateY(100%);
}

.intro-info p.visible {
  transform: translateY(0);
}

@keyframes boxShadowMove {
  0% {
      box-shadow: 0 0 10px #ff6ec4, 0 0 20px #ff6ec4, 0 0 30px #7873f5, 0 0 50px #4adeff, 0 0 60px #21bdbf;
  }
  25% {
      box-shadow: 0 0 10px #4adeff, 0 0 20px #21bdbf, 0 0 30px #ff6ec4, 0 0 50px #7873f5, 0 0 60px #ff6ec4;
  }
  50% {
      box-shadow: 0 0 10px #21bdbf, 0 0 20px #ff6ec4, 0 0 30px #7873f5, 0 0 50px #4adeff, 0 0 60px #ff6ec4;
  }
  75% {
      box-shadow: 0 0 10px #7873f5, 0 0 20px #4adeff, 0 0 30px #21bdbf, 0 0 50px #ff6ec4, 0 0 60px #7873f5;
  }
  100% {
      box-shadow: 0 0 10px #ff6ec4, 0 0 20px #ff6ec4, 0 0 30px #7873f5, 0 0 50px #4adeff, 0 0 60px #21bdbf;
  }
}

@keyframes borderColor {
  0% {
      border-image-source: linear-gradient(45deg, #ff6ec4, #7873f5, #4adeff, #21bdbf, #ff6ec4, #7873f5);
  }
  25% {
      border-image-source: linear-gradient(135deg, #4adeff, #21bdbf, #ff6ec4, #7873f5, #ff6ec4);
  }
  50% {
      border-image-source: linear-gradient(225deg, #21bdbf, #ff6ec4, #7873f5, #4adeff, #ff6ec4);
  }
  75% {
      border-image-source: linear-gradient(315deg, #7873f5, #4adeff, #21bdbf, #ff6ec4, #7873f5);
  }
  100% {
      border-image-source: linear-gradient(45deg, #ff6ec4, #7873f5, #4adeff, #21bdbf, #ff6ec4, #7873f5);
  }
}

@media screen and (max-width: 950px) {
  .intro-info p {
    margin: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .prof {
    font-size: 1.5rem;
  }

  .intro-info p {
    font-size: 1.2rem;
  }

  .intro-info h3 {
    font-size: 1.8rem;
  }
}